services:
  frontend:
    build:
      context: .
      dockerfile: Docker/frontend/Dockerfile
    ports:
      - "1420:1420"
    volumes:
      - ./uniliste:/app
      - /app/node_modules
    depends_on:
      - backend

  backend:
    build:
      context: .
      dockerfile: Docker/backend/Dockerfile
    ports:
      - "8000:8000" # API Rust
    volumes: []
    environment:
      - DATABASE_URL=mongodb://mongodb:27017/uniliste
    depends_on:
      - mongodb

  mongodb:
    image: mongo:6
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
